body{
    width: 100%;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    
    
    
  }
  
  .avo{
    position: absolute;
    background-color: rgb(223, 101, 56);
    width: 90%;
    height: 900px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    
    
  }
  
  
  
  .bolabranca{
  
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    
    
    
  }
  
  .bolabranca1{
  
    width: 150px;
    height: 150px;
    
    border-radius: 100%;
    
    
    
  }
  
  .btn{
  margin-top: 20px;
  }
  
  
  
  .linha-vertical {
    border: 1px solid white;
    height: 800px; 
    
  }
  
  .ajusteimg{
    width: 100%;
    height:100%;
    border-radius: 100%;
  }
  
  .descricao{
    font-weight: bold;
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
  }