@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background-color: #171418;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo{
  width: 320px;
  height: 80px;
}

h1{
  margin: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2px;
  color: #F9F8F9;
}


.btn-link button{
  width: 320px;
  height: 80px;
  border-radius: 30px;
  outline: 0;
  border: 0;
  background-color: #EAE2B7;
  color: #432818;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.btn-meio{
  margin: 0 20px;
}

@media only screen and (max-width: 768px) {
  .opcoes{
    display: flex;
    flex-direction: column;
  }

  .btn-link{
    height: 30%;
    margin: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .opcoes{
    display: flex;
    flex-direction: column;
  }

  .btn-link{
    height: 30%;
    margin: 5px;
  }
}